@each $key, $value in $colors {
  .text-#{$key} {
    color: $value;
  }
  .bg-#{$key} {
    background-color: $value;
  }

  // light variations
  @for $i from 1 through 9 {
    .bg-#{$key}-light-#{$i} {
      background-color: mix(white, $value, $i * 10%);
    }
  }

  // dark variations
  @for $i from 1 through 9 {
    .bg-#{$key}-dark-#{$i} {
      background-color: mix(black, $value, $i * 10%);
    }
  }
}
